
* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h1 {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  width: 100%;
  display: flex;
  padding: 1%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.imgContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  box-shadow: 0.25rem 0.25rem 1rem 0rem black;
  overflow: hidden;
}

.nasaImages {
  border-radius: 2.5rem;
  width: 100%;
  height: auto;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  font-size: 1.5rem;
}


.nasalogo {
  width: 15rem;
}